.admin-dashboard {
  .side-panel {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    min-height: calc(100vh - 575px);
    padding-right: 10px;
    border-right: 2px solid #C91A21;

    .nav-link {
      display: flex;
      color: #C91A21;
      font-weight: 600;
      margin-bottom: 15px;
      background: rgba(201, 26, 33, 0.05);

      .side-panel-button-icon {
        width: 25px;

        img {
          width: 100%;

        }
      }

      .side-panel-button-title {
        padding-top: 3px;
        padding-left: 40px;
      }

      &.active {
        background: #C91A21;
        color: white;
      }
    }
  }
}