.organize-camp {

  .organize-camp-image {
    padding-top: 70px;

    img {
      width: 80%;
    }
  }

  .organize-camp-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .organize-camp-description {
      text-align: justify;
      width: 90%;
    }
  }
}