.reserve-time {
  background: #E3E6EB;

  .reserve-time-image {
    padding-top: 70px;

    img {
      width: 80%;
    }
  }

  .reserve-time-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .section-description {
      font-weight: 300;
      width: 400px;
    }

    .select-section {
      width: 400px;

    }

    .button-row {
      width: 400px;
      display: flex;
      justify-content: end;

      .btn {
        width: 120px;
      }
    }
  }
}