.statistics-page {

  .statistics-heading {
    display: flex;
    justify-content: center;
  }

  .blood-collection-description {
    text-align: justify;
    width: 500px;
    margin-top: 100px;
    margin-left: 50px;
  }
}