.navigation-bar {
  height: 70px;

  .navbar {


    .navbar-collapse {
      .navbar-nav {

        a {
          font-weight: 600;
          height: 52px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          color: black;

          &:hover {
            color: #C91A21;
          }
        }
      }
    }
  }

}