* {
  font-family: 'Raleway', sans-serif;
}

.App {

  .red-color {
    color: #C91A21;
  }

  .bg-moonlight {
    background: #E3E6EB;
  }

  .bg-pearlWhite {
    background: #F6F6F6;
  }

  .btn {
    background: #C91A21;
    font-weight: 700;
    border: none;
    min-width: 110px;
    border-radius: 5px;

    &:disabled {
      opacity: 0.5;
      background: #C91A21;
    }

    &:hover {
      background: #e33139;
    }
  }

  .link-btn {
    background: rgba(201, 26, 33, 0);
    font-weight: 700;
    border: none;
    min-width: 110px;
    border-radius: 5px;
    color: #C91A21;

    &:disabled {
      opacity: 0.5;
      background: rgba(201, 26, 33, 0);
    }

    &:hover {
      background: rgba(227, 49, 57, 0);
      color: #e33139;

      .chevron-right {
        stroke: #e33139;
        fill: #e33139;
      }
    }

    .chevron-right {
      stroke: #C91A21;
    }
  }


  .select-item {
    .react-select__control {
      background: rgba(201, 26, 33, 0.2);
      border: none;

      .react-select__placeholder {
        font-weight: 400;
        color: black;
      }

      .react-select__indicator-separator {
        background-color: rgba(0, 0, 0, 0);
      }

      .react-select__indicator {
        color: black;
      }

      &.react-select__control--is-focused {
        box-shadow: 0 0 0 1px rgba(201, 26, 33, 0.5);
      }
    }

    .react-select__menu {
      .react-select__menu-list {
        .react-select__option {
          background: white;
        }

        .react-select__option:hover {
          background: rgba(201, 26, 33, 0.2);
        }
      }
    }
  }
}