* {
  font-family: 'Raleway', sans-serif;
}

.App {

  .red-color {
    color: #C91A21;
  }

  .bg-moonlight {
    background: #E3E6EB;
  }

  .bg-pearlWhite {
    background: #F6F6F6;
  }

  .btn {
    background: #C91A21;
    font-weight: 700;
    border: none;
    min-width: 110px;
    border-radius: 5px;

    &:disabled {
      opacity: 0.5;
      background: #C91A21;
    }

    &:hover {
      background: #e33139;
    }
  }
}